* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(3, 75, 3);
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
}
.navbar-logo-toggle-section{
    display: flex;
}

.logo {
    margin: 20px;
    height: 70px;
}

nav ul {
    display: flex;
    list-style: none;

}

ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li a:hover {
    color: rgb(233, 172, 4);
}
.navbar-menu{
    display: none;
}
.navbar-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* CSS to style the icon */
.fas,.fa-shopping-cart {
  color: rgb(233, 172, 4);
  font-size: 24px;
  
  
}


.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}







.search {
    padding: 15px 50px;
    align-items: center;
}

.search-section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.search-section img {
    background-color: white;
    height: 47px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search::placeholder {
    align-items: flex-start;
    font-size: large;
}

.cart-for-mobile{
    display: none;
}

.cart-nav {
    display: block;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}

.cart-icon {
    display: block;
    height: 25px;
    cursor: pointer;
}

.cart-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-nav h6 {
    background-color: rgb(243 125 15);
    border-radius: 50px;

}

.cart-nav h3 {
    font-size: 15px;
    cursor: pointer;
}




span {
    font-weight: bold;

}


.select-section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    padding: 20px;
}

select {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 30px;

}

/* cart section */
.cart-section {
    position: fixed;
    height: 100vw;
    width: 300px;
    background-color: #fff;
    right: 0;
    top: 0;
    z-index: 1000;
}

.cart-section .active {
    right: -100;
}

.cart-title {
    display: flex;
    margin: 20px;
}

.cart-title h2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}

.cart-section .close-btn {
    right: 0;
    position: absolute;

}

.Add-to-cart-section {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.308);
}

.cart-image img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

.cart-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cart-price-section {
    display: flex;
    flex-direction: column;


}

.decrement {
    padding: 5px 10px;
    color: rgb(241, 131, 5);
    font-size: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;

}

.increment {
    padding: 5px 8px;
    color: rgb(241, 131, 5);
    font-size: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;

}

.cart-price-section {
    display: flex;
    flex-direction: column;
}

.cart-price-section button {
    border: none;
    background-color: white;
}

.cart-price-section .price {
    font-size: 12px;
}


.cart-price-section img {
    height: 18px;
}






.wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    padding: 20px;
    justify-content: center;

}


.product {
    padding: 15px;
    background: white;
    font-size: smaller;
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 10px gray;

}

.product img {
    height: 220px;
    width: 250px;
    

}

.rating-section {
    display: flex;
    justify-content: space-between;
}

.rating-section div {
    display: flex;
}

.rating-section div h3 {
    font-size: large;
    text-align: center;
}

.price {
    display: inline;
    color: rgb(255, 136, 0);
}

.original-price {
    text-decoration: line-through;
}

#select-btn {
    padding: 5px;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn {
    border: 1px solid;
    color: white;
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(24, 233, 24);
    cursor: pointer;
}

.cart-btn:active {
    border: 1px solid black;
}

.footer-wrapper {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-wrapper h5 {
    font-size: large;
    padding-bottom: 10px;
}

.footer-wrapper div a {
    color: gray;
    display: flex;
    text-decoration: none;
    padding-top: 10px;
}

.footer-wrapper div a:hover {
    color: gold;
}

footer {
    border-top: 1px solid gray;
    padding: 30px;
    text-align: center;
}

/* responsiveness for desktop  */
@media (max-width: 1024px) {
    .product {
        width: 220px;
    }

    .product img {
        width: 200px;
        
    }

}

@media (max-width:768px) {

nav {
    background-color: rgb(3, 75, 3);
    display: block;
    color: white;
    justify-content: space-between;
    text-align: center;
}
.navbar-desktop{
    display: none;
}
.cart-for-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo-toggle-section{
    display: flex;
    justify-content: space-between;
}

    .search {
        padding: 10px;
        align-items: center;
    }

    .search-section {
        display: none;
    }


    .navbar-menu {
        display: none;
    }

    .wrapper {
        margin: auto;
        max-width: 700px;
        gap: 10px;
    }

    .product {
        width: 300px;
        height: 400px;
    }

    .product img {
        width: 280px;

    }

    .footer-wrapper {
        font-size: small;
        flex-direction: column;
    }

    .footer-wrapper h5 {
        font-size: small;
        padding-top: 30px;

    }

    .cart-nav {
        display: flex;
        padding: 0 20px;
    }

    .navbar-menu {
        background-color: black;

    }

    .navbar-menu.active {
        display: flex;

    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }





}

@media (max-width:480px) {
    

    .product {
        width: 400px;
        height: 400px;
    }

    .product img {
        width: 250px;

    }


    .footer-wrapper {
        flex-direction: column;
        font-size: small;
    }

    .footer-wrapper h5 {
        padding-top: px;
    }


}